<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Don't Forget</title>
    <meta name="Don't forget" content="Make lists of useful items for
    different events.">
    <link rel="stylesheet" type="text/css" href="css/dontForget.css" />
</head>
</head>
<body>
    <h1 class="main-heading">Don't forget your favorite items, when going to any activity.</h1>
    <p>     Here at <strong>Don't Forget</strong>, it is our goal to make every
        outing you go on, as enjoyable as possible. Have you ever arrived at
        the beach, just to realize that you forgot your sunglasses, and you promise
        yourself that you would never leave them at home again, knowing
        that your two options now are to either; buy another pair (which you
        don't want or need), or squint all day as the sun reflects off the
        sand. Another common over site, is forgetting a key component for a sporting event.
        You get to your destination and realize that you forgot your ankle brace, hat, glove, belt, shoes,
        shin guards, water bottle, sun screen, towel, goggles.....
    </p>

    <h2>How to get started?</h2>

    <p>    How to get started, I am glad you asked. First we will need you to
        sign in with your google account by fallowing the link in the top right
        hand corner. We aren't interested, in gathering any data from you to
        sell or share with anyone else, we just use your email address to
        identify individuals who want to create their own lists, that way, you
        are the only person who can make changes to the lists you create.
    </p>

    <h2>Some personal example lists that have been useful for me</h2>

    <p class="list"> <strong>Camping</strong></p>
        <ul>
            <li>Tent</li>
            <li>sleeping bag and pad</li>
            <li>water filter</li>
            <li>Water bottle</li>
            <li>Warm clothing including gloves and cap</li>
            <li>chainsaw which has been prepped with gas, oil and has been sharpened</li>
            <li>matches or lighter</li>
            <li>food and beverages</li>
            <li>Dog food</li>
            <li>Dog towel</li>
            <li>Dog bowl for food and water</li>
            <li>chairs</li>
            <li>bin with grill, plates and cutlery</li>
        </ul>
    <p class="list"><strong>Softball</strong></p>
        <ul>
            <li>glove</li>
            <li>water bottle</li>
            <li>cleats</li>
            <li>knee pad</li>
            <li>bag</li>
            <li>hat</li>
            <li>sunglasses</li>
            <li>bat</li>
        </ul>

    <button>Make a new list</button>
</body>
</html>